# Logs
logs
*.log*

# Runtime data
pids
*.pid
*.seed

# Test Runner Output and Coverage
_test_runner_output
_test_reports
# TODO: These html files are created by the coverage build, need to fix the build and remove the ignore
*.js.html
app/components/**/index.html
app/config/**/index.html

# Build output
_dist
_dist/Development
_dist/Release

# Compiled template cache (Angular-Templatecache)
templates.js

# Dependency directory
node_modules
bower_components

# Optional npm cache directory
.npm

# OS Stuff
.DS_Store
